body {
    padding-top: 65px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.btnn a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.btnn a:hover {
    color: #000000;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #000000;
    }
legend {
    font-size: 2.2rem;
    text-align: center;
    padding: 50px 0px;
    font-family: initial;
}

@font-face {
    font-family: 'KaiseiTokumin-Regular';
    src: url('../Fonts/KaiseiTokumin-Regular.ttf') format('truetype');
}
body {
    font-family: KaiseiTokumin-Regular;
}
:root {
    --bs-body-font-size: 1.05rem;
}

input, button, select, optgroup, textarea 
{
    padding: 5px 8px;
    border-radius: 5px;
}
.btn 
{
    padding: 0.385rem 1.75rem;
}
.btn-outline-secondary 
{
     color: #000;
}
.navbar-brand {
    padding-bottom: 0.7rem;
    margin-right: 5rem;
    font-size: 1.5rem;
}
.field-validation-error {
    color: rgb(99, 39, 120);
}
.righttxt {
    text-align: right;
}





.br {
    border-right: thick double grey;
}


body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.btn-outline-purple {
    color: rgb(99, 39, 120);
    border-color: rgb(99, 39, 120);
}
    .btn-outline-purple:hover {
        color: #fff;
        background-color: rgb(99, 39, 120);
        border-color: rgb(99, 39, 120);
    }