@using DesireDelivery.Models.OwnersA

@{
    ViewBag.Title = "FoodsView";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    List<Foods> foods = ViewBag.Foods;
}

@using (Html.BeginForm("FoodsView", "DDUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-4 br">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">John</span><span class="text-black-50">John@mail.com.my</span><span class="text-black-50">Lecturer of CSE,USTC</span></div>
                </div>
                <div class="col-md-7">
                    <div class="p-3 py-5">
                        @*<div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Register Owner</h4>
                        </div>*@
                        <legend>Food View</legend>
                        <table class="table table-borderless d-grid">
                            <tr>
                                <td><input type="text" id="Search" placeholder="Enter a food name" /></td>
                                <td><input type="button" value="Submit" id="Submit" /></td>
                            </tr>
                        </table>
                        <table class="table table-bordered" id="table11">
                            <thead>
                                <tr>
                                    <th>Food Name</th>
                                    <th>Restaurant Name</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                </tr>
                            </thead>
                            <tbody id="tablebody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}


@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#Search").on('change', function() {

                var str = $("#Search").val();
                var json = { stri: str };
                $("#tablebody").empty();
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("GetFoodBySearching", "DDUser")',
                    contentType: 'application/json',
                    data: JSON.stringify(json),
                    error: function (error) {
                        alert("No data found");
                    },
                    success: function (response) {
                        $.each(response, function(key, value) {
                            $("#tablebody").append('<tr><td>' + value.FoodName + '</td><td>' + value.Price + '</td><td>' + value.Restaurant + '</td><td><img src ="' + value.ImagePath + '"/></td></tr>');
                        });
                    }
                });
            });
        });
    </script>
}
