
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <h2>Welcome to Desire Delivery Users Profile</h2>
        <h2>We are happy that you connected with us...</h2>
    </div>
</div>
